body {
    font-family: 'Overpass', sans-serif;
    background-color: #131518;
}

section.survey, section.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.survey--container, div.thanks--container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.survey--star{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262E38;
    border-radius: 50%;
}

h1.survey--heading, h1.thanks--heading{ 
    color: white;
}

p.survey--para, p.thanks--para{
    color: #969FAD
}

div.survey--rating{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    height: 42px;
    width: 281px;
}

div.survey--rating input{
    display: none;
}

div.survey--rating label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262E38;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    cursor: pointer;
    transition: ease .3s;
}

input + label::before{color:  #7c8798}

/*delete once you have the basics set up*/
input#survey--rate-1 + label::before{content: "1"}

input#survey--rate-2 + label::before{ content: "2"}

input#survey--rate-3 + label::before{ content: "3"}

input#survey--rate-4 + label::before{ content: "4"}

input#survey--rate-5 + label::before{ content: "5"}

/*a very interestig selector*/
div.survey--rating input:not(:checked) ~ label:hover{
    height: 48px;
    width: 48px;
    background-color: #FC7614;
}

div.survey--rating input:checked + label::before{color: white}

div.survey--rating input:checked + label{background-color: #7c8798}

/*
div.survey--rating {
    display: flex;
    justify-content: center;
}

div.survey--rating ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

div.survey--rating li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262E38;
    color: #7C8798;
    border-radius: 50%;
    transition: ease .3s;
}

    div.survey--rating li:hover {
        cursor: pointer;
        background-color: #FC7614;
        color: white;
    }

    div.survey--rating li:focus {
        background-color: #7C8798;
        color: white;
    }
*/

button {
    border: none;
    color: white;
    background-color: #FC7614;
    cursor: pointer;
    transition: ease .3s;
}

button:hover{
    color:#FC7614;
    background-color: white;
}

/*displays thank you portion*/
section.thanks{
    display: none;
}

p.thanks--sentence {
    color: #FC7614;
    border-radius: 22.5px;
    background-color: #262E38;
}

p.thanks--sentence{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: .9em;
    color: #969FAD;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer a.links:link, a.links:visited {
    color: #FC7614;   
    text-decoration: none;
}

footer a.links:active{
    color: white;
}