/*****  TABLE OF CONTENTS

 *****  Files:
            1.) main.css – as the name implies, 
            carries the bulk of the layout for 
            the whole page, regardless of the viewing
            device. Besides text.css, each subsequent 
            css file is catered to each viewing devices 
            needs (font-size, spacing, etc).

            2.)text.css – serves as a custom text layout for
            the whole page, preventing excessive need to adjust
            the font size for the page.

            3.) mobile.css; desktop.css – files made for devices
            with a width of at most 430px (for mobile platforms),
            and at least 1440px (for desk/laptop platforms).

 *****  Both sections:
            self-descriptive, but covers both sections of the page
            (survey, and post-survey "thank you" section).

 *****  Survey section:
            Covers only the survey section of the page.

 ***** 'Thank you' section:
            Covers only the "thank you" section of the page.

 ***** Keyframes:
            A very brief, but vital component in the page's fluidity
            (in terms of animation). Experimental and subject to change.
*****/
body { 
    font-family: 'Overpass', sans-serif;
    background-color: #131518;
}

section.survey, section.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.survey--container, div.thanks--container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.survey--star{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262E38;
    border-radius: 50%;
}

h1.survey--heading, h1.thanks--heading{ color: white }

p.survey--para, p.thanks--para{ color: #969FAD }

form.survey--rating{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*hides the original radio buttons*/
form.survey--rating input{ display: none }

form.survey--rating label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262E38;
    border-radius: 50%;
    cursor: pointer;
    transition: ease .3s;
}

/*Assigns each button a number rating*/
label.rate-number{color: #7c8798;}

/*a very interestig selector*/
form.survey--rating input ~ label.rate-number:hover { 
    background-color: #FC7614;
    color: white;
 }

form.survey--rating input:checked + label{color: white}

form.survey--rating input:checked + label{background-color: #7c8798}

.submit {
    position: absolute;
    border: none;
    color: white;
    background-color: #FC7614;
    cursor: pointer;
    transition: ease .3s;
}

.submit:hover{
    color:#FC7614;
    background-color: white;
}

/*displays/hides sections of the page*/
section.hidden{ display: none}

p.thanks--sentence {
    color: #FC7614;
    border-radius: 22.5px;
    background-color: #262E38;
}

p.thanks--sentence{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.thanks--para{
    text-align: center;
}

footer {
    font-size: .9em;
    color: #969FAD;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer a.links:link, a.links:visited {
    color: #FC7614;   
    text-decoration: none;
}

footer a.links:active{ color: white }

@keyframes error {
    0%{
        background-color: #FC7614;
    }

    10%{
        background-color: #E71809;
        color:white;
    }
}

.error{
    animation: error .5s;
}

.stop {
    animation-name: none;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}