body {
    font-family: 'Overpass', sans-serif;
    background-color: #131518;
}

h1.survey--heading{ 
    color: white;
}

p.survey--para{
    color: #969FAD
}

ul > li{
    display: inline-block;
}

li.survey--rating_numbers{
    background-color: #262E38;
    color: #7C8798;
}

button {
    border: none;
    color: white;
    background-color: #FC7614;
}

section.thanks{
    display: none;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}