@media only screen and (max-width: 430px){

    section.survey { height: 100vh }
    
    div.survey--container {
        height: 360px;
        width: 328px;
        background-color: #232a34;
        border-radius: 15px;
    }

    div.survey--star_container {
        margin-top: 24px;
        margin-bottom: 16px;
        width: 279px;
    }

    div.survey--star {
        height: 42px;
        width: 42px;
    }
    
    h1.survey--heading {
        width: 279px;
        margin-bottom: 10px;
    }

    p.survey--para {
        font-size: 14px;
        height: 66px;
        width: 279px;
        margin-bottom: 24px;
    }


    form.survey--rating {
        height: 42px;
        width: 281px;
        margin-bottom: 24px;
    }

    form.survey--rating label {
        height: 42px;
        width: 42px;
    }

    form.survey--rating input ~ label:hover {
        height: 48px;
        width: 48px;
    }

    button {
        margin-top: 69px;
        height: 45px;
        width: 280px;
        border-radius: 22.5px;
    }

    button:hover {
        font-size: 1em;
        height: 50px;
        width: 284px;
    }

    p.thanks--sentence {
        height: 32px;
        width: 168px;
        font-size: 14px;
    }

}