/*This wwill serve as a general style layout for most of my (first) webpages*/

/* specific h1-h6 styling details:*/

body {
    font-size: 15px;
    line-height: 22px;
}

h1 {
    display: block;
    font-size: 2em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold
}

h2 {
    display: block; 
    font-size: 1.5em;  
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold
}

h3 {
    display: block; 
    font-size: 1.17em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h4 {
    display: block; 
    font-size: 1em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h5 {
    display: block; 
    font-size: .83em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h6 {
    display: block; 
    font-size: .67em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}